@font-face {
	font-family: wsocial;
	src: url(//cdn2.editmysite.com/fonts/wSocial/wsocial.eot?cachebust=true#iefix) format("embedded-opentype"), url(//cdn2.editmysite.com/fonts/wSocial/wsocial.woff?cachebust=true) format("woff"), url(//cdn2.editmysite.com/fonts/wSocial/wsocial.ttf?cachebust=true) format("truetype"), url(//cdn2.editmysite.com/fonts/wSocial/wsocial.svg?cachebust=true#wsocial) format("svg");
	font-weight: normal;
	font-style: normal;
}
.wsite-social-dribbble::before {
	content: "\e60c";
}
.wsite-com-product-social-dribbble::before {
	content: "\e60c";
}
.wsite-social-color .wsite-social-dribbble::before {
	color: rgb(240, 119, 160); content: "\e60c";
}
.wsite-social-square .wsite-social-dribbble {
	background-color: rgb(240, 119, 160);
}
.wsite-social-dribbble.wsite-social-square {
	background-color: rgb(240, 119, 160);
}
.wsite-social-square .wsite-social-dribbble::after {
	color: rgb(255, 255, 255); content: "\e60c";
}
.wsite-social-dribbble.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e60c";
}
.wsite-social-mail::before {
	content: "\e603";
}
.wsite-com-product-social-mail::before {
	content: "\e603";
}
.wsite-social-color .wsite-social-mail::before {
	color: rgb(54, 59, 62); content: "\e603";
}
.wsite-social-square .wsite-social-mail {
	background-color: rgb(54, 59, 62);
}
.wsite-social-mail.wsite-social-square {
	background-color: rgb(54, 59, 62);
}
.wsite-social-square .wsite-social-mail::after {
	color: rgb(255, 255, 255); content: "\e603";
}
.wsite-social-mail.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e603";
}
.wsite-social-facebook::before {
	content: "\e600";
}
.wsite-com-product-social-facebook::before {
	content: "\e600";
}
.wsite-social-color .wsite-social-facebook::before {
	color: rgb(59, 89, 152); content: "\e600";
}
.wsite-social-square .wsite-social-facebook {
	background-color: rgb(59, 89, 152);
}
.wsite-social-facebook.wsite-social-square {
	background-color: rgb(59, 89, 152);
}
.wsite-social-square .wsite-social-facebook::after {
	color: rgb(255, 255, 255); content: "\e600";
}
.wsite-social-facebook.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e600";
}
.wsite-social-flickr-left::before {
	content: "\e60d";
}
.wsite-com-product-social-flickr-left::before {
	content: "\e60d";
}
.wsite-social-color .wsite-social-flickr-left::before {
	color: rgb(0, 99, 220); content: "\e60d";
}
.wsite-social-square .wsite-social-flickr-left {
	background-color: rgb(0, 99, 220);
}
.wsite-social-flickr-left.wsite-social-square {
	background-color: rgb(0, 99, 220);
}
.wsite-social-square .wsite-social-flickr-left::after {
	color: rgb(255, 255, 255); content: "\e60d";
}
.wsite-social-flickr-left.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e60d";
}
.wsite-social-flickr-right::before {
	content: "\e60e";
}
.wsite-com-product-social-flickr-right::before {
	content: "\e60e";
}
.wsite-social-color .wsite-social-flickr-right::before {
	color: rgb(255, 0, 132); content: "\e60e";
}
.wsite-social-square .wsite-social-flickr-right {
	background-color: rgb(255, 0, 132);
}
.wsite-social-flickr-right.wsite-social-square {
	background-color: rgb(255, 0, 132);
}
.wsite-social-square .wsite-social-flickr-right::after {
	color: rgb(255, 255, 255); content: "\e60e";
}
.wsite-social-flickr-right.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e60e";
}
.wsite-social-flickr::before {
	content: "\e608";
}
.wsite-com-product-social-flickr::before {
	content: "\e608";
}
.wsite-social-color .wsite-social-flickr::before {
	color: rgb(0, 99, 220); content: "\e608";
}
.wsite-social-square .wsite-social-flickr {
	background-color: rgb(0, 99, 220);
}
.wsite-social-flickr.wsite-social-square {
	background-color: rgb(0, 99, 220);
}
.wsite-social-square .wsite-social-flickr::after {
	color: rgb(255, 255, 255); content: "\e608";
}
.wsite-social-flickr.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e608";
}
.wsite-social-plus::before {
	content: "\e604";
}
.wsite-com-product-social-plus::before {
	content: "\e604";
}
.wsite-social-color .wsite-social-plus::before {
	color: rgb(221, 75, 57); content: "\e604";
}
.wsite-social-square .wsite-social-plus {
	background-color: rgb(221, 75, 57);
}
.wsite-social-plus.wsite-social-square {
	background-color: rgb(221, 75, 57);
}
.wsite-social-square .wsite-social-plus::after {
	color: rgb(255, 255, 255); content: "\e604";
}
.wsite-social-plus.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e604";
}
.wsite-social-instagram::before {
	content: "\e607";
}
.wsite-com-product-social-instagram::before {
	content: "\e607";
}
.wsite-social-color .wsite-social-instagram::before {
	color: rgb(63, 114, 155); content: "\e607";
}
.wsite-social-square .wsite-social-instagram {
	background-color: rgb(63, 114, 155);
}
.wsite-social-instagram.wsite-social-square {
	background-color: rgb(63, 114, 155);
}
.wsite-social-square .wsite-social-instagram::after {
	color: rgb(255, 255, 255); content: "\e607";
}
.wsite-social-instagram.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e607";
}
.wsite-social-linkedin::before {
	content: "\e602";
}
.wsite-com-product-social-linkedin::before {
	content: "\e602";
}
.wsite-social-color .wsite-social-linkedin::before {
	color: rgb(56, 138, 190); content: "\e602";
}
.wsite-social-square .wsite-social-linkedin {
	background-color: rgb(56, 138, 190);
}
.wsite-social-linkedin.wsite-social-square {
	background-color: rgb(56, 138, 190);
}
.wsite-social-square .wsite-social-linkedin::after {
	color: rgb(255, 255, 255); content: "\e602";
}
.wsite-social-linkedin.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e602";
}
.wsite-social-pinterest::before {
	content: "\e609";
}
.wsite-com-product-social-pinterest::before {
	content: "\e609";
}
.wsite-social-color .wsite-social-pinterest::before {
	color: rgb(204, 33, 39); content: "\e609";
}
.wsite-social-square .wsite-social-pinterest {
	background-color: rgb(204, 33, 39);
}
.wsite-social-pinterest.wsite-social-square {
	background-color: rgb(204, 33, 39);
}
.wsite-social-square .wsite-social-pinterest::after {
	color: rgb(255, 255, 255); content: "\e609";
}
.wsite-social-pinterest.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e609";
}
.wsite-social-rss::before {
	content: "\e605";
}
.wsite-com-product-social-rss::before {
	content: "\e605";
}
.wsite-social-color .wsite-social-rss::before {
	color: rgb(242, 101, 34); content: "\e605";
}
.wsite-social-square .wsite-social-rss {
	background-color: rgb(242, 101, 34);
}
.wsite-social-rss.wsite-social-square {
	background-color: rgb(242, 101, 34);
}
.wsite-social-square .wsite-social-rss::after {
	color: rgb(255, 255, 255); content: "\e605";
}
.wsite-social-rss.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e605";
}
.wsite-social-twitter::before {
	content: "\e601";
}
.wsite-com-product-social-twitter::before {
	content: "\e601";
}
.wsite-social-color .wsite-social-twitter::before {
	color: rgb(0, 172, 237); content: "\e601";
}
.wsite-social-square .wsite-social-twitter {
	background-color: rgb(0, 172, 237);
}
.wsite-social-twitter.wsite-social-square {
	background-color: rgb(0, 172, 237);
}
.wsite-social-square .wsite-social-twitter::after {
	color: rgb(255, 255, 255); content: "\e601";
}
.wsite-social-twitter.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e601";
}
.wsite-social-vimeo::before {
	content: "\e60a";
}
.wsite-com-product-social-vimeo::before {
	content: "\e60a";
}
.wsite-social-color .wsite-social-vimeo::before {
	color: rgb(26, 183, 234); content: "\e60a";
}
.wsite-social-square .wsite-social-vimeo {
	background-color: rgb(26, 183, 234);
}
.wsite-social-vimeo.wsite-social-square {
	background-color: rgb(26, 183, 234);
}
.wsite-social-square .wsite-social-vimeo::after {
	color: rgb(255, 255, 255); content: "\e60a";
}
.wsite-social-vimeo.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e60a";
}
.wsite-social-yahoo::before {
	content: "\e60b";
}
.wsite-com-product-social-yahoo::before {
	content: "\e60b";
}
.wsite-social-color .wsite-social-yahoo::before {
	color: rgb(64, 1, 145); content: "\e60b";
}
.wsite-social-square .wsite-social-yahoo {
	background-color: rgb(64, 1, 145);
}
.wsite-social-yahoo.wsite-social-square {
	background-color: rgb(64, 1, 145);
}
.wsite-social-square .wsite-social-yahoo::after {
	color: rgb(255, 255, 255); content: "\e60b";
}
.wsite-social-yahoo.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e60b";
}
.wsite-social-youtube::before {
	content: "\e606";
}
.wsite-com-product-social-youtube::before {
	content: "\e606";
}
.wsite-social-color .wsite-social-youtube::before {
	color: rgb(179, 18, 23); content: "\e606";
}
.wsite-social-square .wsite-social-youtube {
	background-color: rgb(179, 18, 23);
}
.wsite-social-youtube.wsite-social-square {
	background-color: rgb(179, 18, 23);
}
.wsite-social-square .wsite-social-youtube::after {
	color: rgb(255, 255, 255); content: "\e606";
}
.wsite-social-youtube.wsite-social-square::after {
	color: rgb(255, 255, 255); content: "\e606";
}
.wsite-social-color .wsite-social-flickr::before {
	color: rgb(0, 99, 220); content: "\803";
}
.wsite-social-color .wsite-social-flickr::after {
	color: rgb(255, 0, 132); content: "\804";
}
.wsite-social-item {
	width: auto; height: auto; text-transform: none; text-decoration: none; vertical-align: middle; display: inline; background-image: none; background-repeat: no-repeat;
}
.wsite-editor .wsite-social-item {
	width: auto; height: auto; text-transform: none; text-decoration: none; vertical-align: middle; display: inline; background-image: none; background-repeat: no-repeat;
}
#wsite-com-product-social-sharing .wsite-com-product-social-facebook {
	width: auto; height: auto; text-transform: none; text-decoration: none; vertical-align: middle; display: inline; background-image: none; background-repeat: no-repeat;
}
#wsite-com-product-social-sharing .wsite-com-product-social-twitter {
	width: auto; height: auto; text-transform: none; text-decoration: none; vertical-align: middle; display: inline; background-image: none; background-repeat: no-repeat;
}
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest {
	width: auto; height: auto; text-transform: none; text-decoration: none; vertical-align: middle; display: inline; background-image: none; background-repeat: no-repeat;
}
#wsite-com-product-social-sharing .wsite-com-product-social-plus {
	width: auto; height: auto; text-transform: none; text-decoration: none; vertical-align: middle; display: inline; background-image: none; background-repeat: no-repeat;
}
.wsite-social-item:hover {
	text-decoration: none;
}
.wsite-editor .wsite-social-item:hover {
	text-decoration: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-facebook:hover {
	text-decoration: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-twitter:hover {
	text-decoration: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest:hover {
	text-decoration: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-plus:hover {
	text-decoration: none;
}
.wsite-social-item::before {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
.wsite-social-item::after {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
.wsite-editor .wsite-social-item::before {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
.wsite-editor .wsite-social-item::after {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-facebook::before {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-facebook::after {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-twitter::before {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-twitter::after {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest::before {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest::after {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-plus::before {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
#wsite-com-product-social-sharing .wsite-com-product-social-plus::after {
	text-transform: none; font-family: "wsocial"; font-style: normal; font-variant: normal; font-weight: normal; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
.hidden.wsite-social-item {
	display: none !important;
}
.wsite-editor .hidden.wsite-social-item {
	display: none !important;
}
#wsite-com-product-social-sharing .hidden.wsite-com-product-social-facebook {
	display: none !important;
}
#wsite-com-product-social-sharing .hidden.wsite-com-product-social-twitter {
	display: none !important;
}
#wsite-com-product-social-sharing .hidden.wsite-com-product-social-pinterest {
	display: none !important;
}
#wsite-com-product-social-sharing .hidden.wsite-com-product-social-plus {
	display: none !important;
}
#wsite-com-product-social-sharing .wsite-com-product-social-facebook {
	width: 24px; height: 24px; text-indent: -9999px; display: inline-block; position: relative;
}
#wsite-com-product-social-sharing .wsite-com-product-social-twitter {
	width: 24px; height: 24px; text-indent: -9999px; display: inline-block; position: relative;
}
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest {
	width: 24px; height: 24px; text-indent: -9999px; display: inline-block; position: relative;
}
#wsite-com-product-social-sharing .wsite-com-product-social-plus {
	width: 24px; height: 24px; text-indent: -9999px; display: inline-block; position: relative;
}
#wsite-com-product-social-sharing .wsite-com-product-social-facebook::before {
	text-indent: 0px; display: block; position: absolute;
}
#wsite-com-product-social-sharing .wsite-com-product-social-twitter::before {
	text-indent: 0px; display: block; position: absolute;
}
#wsite-com-product-social-sharing .wsite-com-product-social-pinterest::before {
	text-indent: 0px; display: block; position: absolute;
}
#wsite-com-product-social-sharing .wsite-com-product-social-plus::before {
	text-indent: 0px; display: block; position: absolute;
}
.social-dribbble .social-label::before {
	content: "\e60c";
}
.social-dribbble.social-dropdown-item::before {
	content: "\e60c";
}
.social-dribbble.social-dropdown-item {
	background-image: none;
}
.social-mail .social-label::before {
	content: "\e603";
}
.social-mail.social-dropdown-item::before {
	content: "\e603";
}
.social-mail.social-dropdown-item {
	background-image: none;
}
.social-facebook .social-label::before {
	content: "\e600";
}
.social-facebook.social-dropdown-item::before {
	content: "\e600";
}
.social-facebook.social-dropdown-item {
	background-image: none;
}
.social-flickr-left .social-label::before {
	content: "\e60d";
}
.social-flickr-left.social-dropdown-item::before {
	content: "\e60d";
}
.social-flickr-left.social-dropdown-item {
	background-image: none;
}
.social-flickr-right .social-label::before {
	content: "\e60e";
}
.social-flickr-right.social-dropdown-item::before {
	content: "\e60e";
}
.social-flickr-right.social-dropdown-item {
	background-image: none;
}
.social-flickr .social-label::before {
	content: "\e608";
}
.social-flickr.social-dropdown-item::before {
	content: "\e608";
}
.social-flickr.social-dropdown-item {
	background-image: none;
}
.social-plus .social-label::before {
	content: "\e604";
}
.social-plus.social-dropdown-item::before {
	content: "\e604";
}
.social-plus.social-dropdown-item {
	background-image: none;
}
.social-instagram .social-label::before {
	content: "\e607";
}
.social-instagram.social-dropdown-item::before {
	content: "\e607";
}
.social-instagram.social-dropdown-item {
	background-image: none;
}
.social-linkedin .social-label::before {
	content: "\e602";
}
.social-linkedin.social-dropdown-item::before {
	content: "\e602";
}
.social-linkedin.social-dropdown-item {
	background-image: none;
}
.social-pinterest .social-label::before {
	content: "\e609";
}
.social-pinterest.social-dropdown-item::before {
	content: "\e609";
}
.social-pinterest.social-dropdown-item {
	background-image: none;
}
.social-rss .social-label::before {
	content: "\e605";
}
.social-rss.social-dropdown-item::before {
	content: "\e605";
}
.social-rss.social-dropdown-item {
	background-image: none;
}
.social-twitter .social-label::before {
	content: "\e601";
}
.social-twitter.social-dropdown-item::before {
	content: "\e601";
}
.social-twitter.social-dropdown-item {
	background-image: none;
}
.social-vimeo .social-label::before {
	content: "\e60a";
}
.social-vimeo.social-dropdown-item::before {
	content: "\e60a";
}
.social-vimeo.social-dropdown-item {
	background-image: none;
}
.social-yahoo .social-label::before {
	content: "\e60b";
}
.social-yahoo.social-dropdown-item::before {
	content: "\e60b";
}
.social-yahoo.social-dropdown-item {
	background-image: none;
}
.social-youtube .social-label::before {
	content: "\e606";
}
.social-youtube.social-dropdown-item::before {
	content: "\e606";
}
.social-youtube.social-dropdown-item {
	background-image: none;
}
.social-badge-item .social-label {
	background-image: none;
}
.social-badge-item .social-label::before {
	font: 14px "wsocial"; top: 15px; width: 14px; text-align: center; color: rgb(255, 255, 255); text-transform: none; padding-left: 9px; position: absolute; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; speak: none;
}
.social-dropdown-item::before {
	width: 15px; text-align: center; right: 12px; font-family: "wsocial"; font-size: 9px; position: absolute;
}
